table {
    text-align: center;
}
table tr{
    padding: 5px;
    height: 35;
}
table td{
    width: 150px;
}

.table_player td{
    width: 130px;
}

.lista{ 
    text-decoration: none;
    color: #000000;
} 
.lista img{ 
    width: 15px;
    height: 15px;
}
.title {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}

p {
    color: #707070;
}